@use 'mixins';


/* =========================
   MEDIA QUERIES AVANZADAS
   ========================= */
@media (max-width: 1100px) {
    .catalogo-galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .catalogo-galeria {
        grid-template-columns: 1fr;
    }

    .main-responsive {
        padding: 0 8px !important;
    }
}

@media (max-width: 600px) {
    .producto img {
        max-width: 100%;
    }

    .footer-enlaces ul {
        padding-left: 0;
    }

    .footer-redes {
        margin-top: 12px;
    }
}

/* Responsividad general */
@media (max-width: 900px) {
    header {
        >div {
            flex-direction: column;
            align-items: flex-start;
            padding: 0 20px 20px 20px;
        }

        nav ul {
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    }

    .banner {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    main {
        padding: 0 8px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 8px;
    }

    .footer-mapa iframe {
        width: 100%;
        height: 100px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.4rem;
    }

    .footer-enlaces ul {
        padding-left: 0;
    }

    .footer-redes {
        margin-top: 12px;
    }

    .detalle-producto {
        flex-direction: column;
        gap: 18px;
        padding: 12px 4px;
        max-width: 100%;
    }

    .detalle-img {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .deporte-galeria {
        flex-direction: column;
        gap: 20px;
    }

    .nosotros-contenido {
        gap: 20px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        >div:first-child {
            width: 100%;
        }
    }

    .footer-redes {
        align-items: center;
        text-align: center;
        gap: 0px;
    }
}