@use 'vars';

/* =========================

   RESET Y BASE
   ========================= */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Oswald', Arial, sans-serif;
  background: vars.$color-white;
  color: #222;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  color: #222;
  text-decoration: none;
  transition: color 0.2s;
}
