@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// 🎨 Variables globales de color
$color-primary: #ff0e0e;
$color-secondary: #000;
$color-white: #ffffff;
$color-gray-light: #f7f7f7;
$color-accent: #7a7a7a;
$color-black: #222;
$color-verde: #1a8917;

// 💬 Tipografía
$font-primary: "Lato", sans-serif;
$font-secondary: "BBH Sans Bogle", sans-serif;

.bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}



// 📱 Breakpoints
$breakpoints: (
  sm: 600px,
  md: 900px,
  lg: 1100px
);