@use 'vars';
@use 'mixins';

/* =========================
   MAIN Y SECCIONES
   ========================= */

main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  background: vars.$color-white;
  border-radius: 16px;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
}

/* =========================
   NOSOTROS
   ========================= */

.nosotros-contenido {
  display: flex;
  align-items: center;
  gap: 24px;

  img {
    width: 180px;
    height: auto;
    border-radius: 8px;
  }
}
// =========================
// ESTILOS BASE
// =========================
main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}
h1,
h2,
h3 {
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
}

